<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/index-css">
    <title>formulario</title>
</head>
<body>
  

    <main class="cuerpoform">

        <h1>font-spring insert ordenes </h1>

        <div class="formulario">
            <form method="get" action="http://localhost:8080/orden"></form>
           <label for="socioId">socioId</label>
            <input type="text" name="socioId" id="socioId">
            <label for="estadoId">estadoId</label>
            <input type="text" name="estadoId" id="estadoId">
            <label for="montoTotal">montoTotal</label>
            <input type="number" name="montoTotal" id="montoTotal">
            <input type="submit">
        </div>
    </main>
</body>
</html>

